#navbarNav {
    display: flex;
    justify-content: flex-end !important;
}

.parent {
    display: grid;
    flex-direction: column;
}

main {
 height: 100vh;
 text-align: center;

}

.image-dave {
    margin: 20px;
    border-radius: 25px;
    background-color: cornflowerblue;
    background-image: url(./imagine/davesmall.png);
    background-size: cover;
    min-width: 500px;
    min-height: 500px;
}

.parent-grip {
  font-size: 20px;
    display: grid;
    grid-template-columns: repeat(400px 1fr 1fr);
    gap: 10px;
    grid-template-rows: repeat(1fr 1fr 1fr);
  }

   .one  {
    grid-column: 1;
    grid-row: 1/2;
  }

.two {
    grid-column: 1;
    grid-row: 2/4;
  }

  .three {
    margin-top: 25px;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .four {
    grid-column: 2/3;
    grid-row: 2;
  }

  p h2 {
    text-align: left;
    max-width:250px;
  }

  /* .box {
    background-color: red;
  } */